<h1>TO-DO LIST</h1>
<div class="card au-card">
  <div class="input-group mb-3 ax-align">
    <input class="ax-btn" type="text" [(ngModel)]="newTodoText" id="todoInput" (keyup)="checkEnter($event)">
    <button class="btn btn-outline-secondary ax--btn" type="button" id="button-addon2" (click)="addTodo()">Add</button>
  </div>
  <div *ngIf="showEmptyMessage" class="empty-message">
    Please enter text or select a number.
  </div>
  <div class="list-grp">
    <div class="list-group">
      <label class="list-group-item" *ngFor="let todo of todos; let i = index">
        <div class="row">
          <div class="col-12 col-md-6">
            <ul>
              <li>{{todo.text}}</li>
            </ul>
          </div>
          <div class="col-12 col-md-6 ax-col-1">
            <button type="button" class="btn-close" aria-label="Close" (click)="deleteTodo(todo)"></button>
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
